#
# AWS configuration for the Cloud LRS load balancer and EC2 instances.
#
packages:
  yum:
    git: []
    openssl-devel: []
    expat-devel: []
    gettext-devel: []
    zlib-devel: []
    mod24_ssl: []

option_settings:
  # Defines node environment details for elastic beanstalk
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 6.12.2
    ProxyServer: apache
    NodeCommand: 'node app'

  # Defines launch configurations for the environment and auto scaling group
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
    EC2KeyName: cloudlrs-aws-eb
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SSHSourceRestriction: tcp, 22, 22, sg-8ece7af1

  # Load Balancer configurations
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role

  # Load Balancer security group
  aws:elbv2:loadbalancer:
    SecurityGroups: [sg-40c5713f]
    ManagedSecurityGroup: sg-40c5713f

  # Disable the load balancer's default listener on port 80.
  aws:elbv2:listener:default:
    ListenerEnabled: 'false'

  # Enable a custom load balancer listener on port 433.
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:697877139013:certificate/316dc95c-93ff-45ae-952c-5cc60222862d

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
    Timeout: 3600

  # Log publication and monitoring options
  aws:elasticbeanstalk:hostmanager:
    LogPublicationControl: 'true'

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180

  aws:elasticbeanstalk:xray:
    XRayEnabled: 'true'

  # Instances talk to the load balancer over HTTPS..
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: HTTPS:443/api/status

  # Instances talk to the load balancer over HTTPS with sticky sessions.
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/status
    Port: '443'
    Protocol: HTTPS
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'

Resources:
  # Instances may download protected files from a private S3 bucket.
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-697877139013"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
