#
# STEP 1:
# Create the httpd proxy config file to replace the default configuration
#
files:
  '/tmp/canvas-data-processor.httpd.conf':
    mode: '000755'
    owner: root
    group: root
    content: |
      # Elastic Beanstalk Managed
      #
      # Elastic Beanstalk managed configuration file
      # Some configuration of httpd can be by placing files in /etc/httpd/conf.d/
      # using Configuration Files.
      # http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/customize-containers.html
      #
      # Modifications of httpd.conf can be performed using container_commands to modify the staged version
      # located in /tmp/deployment/config/etc#httpd#conf#httpd.conf
      # This file was overwritten during deployment
      # by .ebextensions/02_container_commands.config

      Listen 8080

      ProxyPass /api http://localhost:2000/api retry=0 KeepAlive=On
      ProxyPassReverse /api http://localhost:2000/api
      ProxyPreserveHost On

      DocumentRoot '/var/www/html'

      # Indicate that we're forwarding a request that came in over HTTPS.
      RequestHeader set X-Forwarded-Proto "https"

      LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
