#
# STEP 2:
# Container commands can be used to run commands during deployment.
# Run the script to overwrite the httpd config template in /tmp/deployment/config.
#
container_commands:
  01_apache_proxy_config:
    command: 'cp /tmp/data-loch.httpd.conf /tmp/deployment/config/#etc#httpd#conf.d#00_elastic_beanstalk_proxy.conf'
