#
# Build front-end assets (i.e., one required placeholder index.html) for production and copy to the Apache document root.
#
container_commands:
  02_create_apache_root:
    command: "mkdir -p /var/www/html/data-loch"
  03_copy_to_apache_root:
    command: "cp -R public/* /var/www/html/data-lochr"
