#
# STEP 3:
# Post deployment elastic beanstalk deploys the commands
# in /opt/elasticbeanstalk/hooks/appdeploy/post. The post folder
# needs to be created as it is not part of default aws beanstalk deployment.
# The config creates a post deployment script that is required to run the app
#
commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_delayed_job.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo apachectl restart
